html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
}

#page-wrapper {
  width: 600px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  border-top: 5px solid #d6d6d6;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#display{
position: relative;
    overflow: scroll;
    border: 1px solid lightgrey;
   padding: 15px 15px 15px 15px;
   margin-top: 15px;

}

h1 {
	margin-top: 0;
}

img {
  max-width: 100%;
}

#fileDisplayArea {

  width: 100%;
  overflow-x: auto;

}
